<?xml version="1.0"?>
<!--
/**
 * Warehouse Module
 * @copyright   Copyright (c) 2016 MagentoCrew
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <MagentoCrew_Warehouse>
            <version>1.0.0</version>
        </MagentoCrew_Warehouse>
    </modules>
    <global>
        <models>
            <mc_warehouse>
                <class>MagentoCrew_Warehouse_Model</class>
                <resourceModel>mc_warehouse_resource</resourceModel>
            </mc_warehouse>
            <mc_warehouse_resource>
                <class>MagentoCrew_Warehouse_Model_Resource</class>
                <deprecatedNode>mc_warehouse_mysql4</deprecatedNode>
                <entities>
                    <warehouse>
                        <table>warehouse</table>
                    </warehouse>
                    <warehouse_product>
                        <table>warehouse_product</table>
                    </warehouse_product>
                </entities>
            </mc_warehouse_resource>
        </models>
        <helpers>
            <mc_warehouse>
                <class>MagentoCrew_Warehouse_Helper</class>
            </mc_warehouse>
        </helpers>
        <blocks>
            <mc_warehouse>
                <class>MagentoCrew_Warehouse_Block</class>
            </mc_warehouse>
        </blocks>
        <resources>
            <mc_warehouse_setup>
                <setup>
                    <module>MagentoCrew_Warehouse</module>
                </setup>
            </mc_warehouse_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <warehouse after="Mage_Adminhtml">MagentoCrew_Warehouse_Adminhtml</warehouse>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <MagentoCrew_Warehouse>
                    <files>
                        <default>MagentoCrew_Warehouse.csv</default>
                    </files>
                </MagentoCrew_Warehouse>
            </modules>
        </translate>
        <layout>
            <updates>
                <mc_warehouse>
                    <file>magentocrew/warehouse.xml</file>
                </mc_warehouse>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <mc_warehouse>
                    <file>magentocrew/warehouse.xml</file>
                </mc_warehouse>
            </updates>
        </layout>
        <translate>
            <modules>
                <MagentoCrew_Warehouse>
                    <files>
                        <default>MagentoCrew_Warehouse.csv</default>
                    </files>
                </MagentoCrew_Warehouse>
            </modules>
        </translate>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <configurableswatches_warehouse_layout>
                        <class>mc_warehouse/observer</class>
                        <method>convertLayerBlock</method>
                    </configurableswatches_warehouse_layout>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <sales_quote_load_after>
                <observers>
                    <add_warehouse_option_info>
                        <class>mc_warehouse/observer</class>
                        <method>addWarehouseOptionInfo</method>
                    </add_warehouse_option_info>
                </observers>
            </sales_quote_load_after>
        </events>
    </frontend>
    <default>
        <mc_warehouse>
            <general>
                <enable>0</enable>
            </general>
        </mc_warehouse>
    </default>
</config>
